apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  platform:
    channels:
    - name: stable-{{ ocp_version }}
      minVersion: {{ ocp_version }}.{{ ocp_min_patch_level }}
      maxVersion: {{ ocp_version }}.{{ ocp_max_patch_level }}
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_version }}
      packages:
       - name: openshift-gitops-operator
  additionalImages:
   - name: registry.redhat.io/ubi8/ubi:latest
   - name: registry.redhat.io/ubi9/ubi@sha256:20f695d2a91352d4eaa25107535126727b5945bff38ed36a3e59590f495046f0
  blockedImages:
   - name: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:497999df95d0308df38bb6d5e874da7d91baf6906d8dd752a5480beb5dcc44a9

